<!-- app.component.html -->
<div class="navbar">
  <div class="logo">
    <a routerLink="/" class="logo-link">We Can Voice for Women</a>
  </div>
  
  <div class="menu" [class.open]="isMenuOpen">
    <a routerLink="/" class="nav-item">Home</a>
    <a routerLink="/about" class="nav-item">About</a>
    <a routerLink="/services" class="nav-item">Services</a>
    <a routerLink="/contact" class="nav-item">Contact</a>
  </div>
  
  <div class="hamburger" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</div>

<router-outlet></router-outlet>
